.hero {
  background-color: #cefbff;
  border: solid 1px #707070;
  padding-top: 130px;
  padding-bottom: 119px;
}

.hero2 {
  background-color: white;
}
.hero3 {
  background-color: #ecceff;
  border: solid 1px #707070;
}
